!!! 5
%html
  %head
    %meta(charset='utf-8')
    %link(type='text/css' rel='stylesheet' href='style.css')
    %script(type='text/javascript' src='jquery.js')
    %script(type='text/javascript' src='jquery.tmpl.js')
    %script(type='text/javascript' src='common.js')
    %script(type='text/javascript' src='browser_action.js')
  %body
    #tree
      %ul
    #url
    %script#directory-tmpl(type='text/x-jquery-tmpl')
      .node.directory(data-id='${id}')
        .title(title='${title}')
          %img.favicon(src='close.png')
          %span.link ${title}
        %ul.children
    %script#bookmark-tmpl(type='text/x-jquery-tmpl')
      .node.bookmark(data-id='${id}')
        .title(title='${title}')
          %img.favicon(src='chrome://favicon/${url}')
          %span.link ${title}
