!!! 5
%html
  %head
    %meta(charset='utf-8')
    %link(type='text/css' rel='stylesheet' href='options_page.css')
    %script(type='text/javascript' src='jquery.js')
    %script(type='text/javascript' src='jquery.tmpl.js')
    %script(type='text/javascript' src='common.js')
    %script(type='text/javascript' src='options_page.js')
  %body
    %h1(data-i18n-key='options_page')

    %section.options
      %section
        %h2(data-i18n-key='appearance')

        %h3(data-i18n-key='size')
        %label(for='width' data-i18n-key='width')
        %input#width(type='number' size='10')
        %label(for='height' data-i18n-key='height')
        %input#height(type='number' size='10')

        %h3(data-i18n-key='customStyle')
        %textarea#custom-style(rows=10 cols=40)

      %section
        %h2(data-i18n-key='behavior')

        %h3(data-i18n-key='bookmarkBehavior')
        %div
          %label(for='behaviors-bookmark-left' data-i18n-key='behaviorsBookmarkLeft')
          %select#behaviors-bookmark-left
            %option(value='openInNewTab' data-i18n-key='openInNewTab')
            %option(value='openInCurrentTab' data-i18n-key='openInCurrentTab')
            %option(value='openInBackgroundTab' data-i18n-key='openInBackgroundTab')
            %option(value='openInNewWindow' data-i18n-key='openInNewWindow')
        %div
          %label(for='behaviors-bookmark-middle' data-i18n-key='behaviorsBookmarkMiddle')
          %select#behaviors-bookmark-middle
            %option(value='openInNewTab' data-i18n-key='openInNewTab')
            %option(value='openInCurrentTab' data-i18n-key='openInCurrentTab')
            %option(value='openInBackgroundTab' data-i18n-key='openInBackgroundTab')
            %option(value='openInNewWindow' data-i18n-key='openInNewWindow')
        %div
          %label(for='behaviors-bookmark-right' data-i18n-key='behaviorsBookmarkRight')
          %select#behaviors-bookmark-right
            %option(value='openInNewTab' data-i18n-key='openInNewTab')
            %option(value='openInCurrentTab' data-i18n-key='openInCurrentTab')
            %option(value='openInBackgroundTab' data-i18n-key='openInBackgroundTab')
            %option(value='openInNewWindow' data-i18n-key='openInNewWindow')

        %h3(data-i18n-key='directoryBehavior')
        %div
          %label(for='behaviors-directory-left' data-i18n-key='behaviorsDirectoryLeft')
          %select#behaviors-directory-left
            %option(value='toggle' data-i18n-key='toggle')
            %option(value='openAllInCurrentWindow' data-i18n-key='openAllInCurrentWindow')
            %option(value='openAllInNewWindow' data-i18n-key='openAllInNewWindow')
        %div
          %label(for='behaviors-directory-middle' data-i18n-key='behaviorsDirectoryMiddle')
          %select#behaviors-directory-middle
            %option(value='toggle' data-i18n-key='toggle')
            %option(value='openAllInCurrentWindow' data-i18n-key='openAllInCurrentWindow')
            %option(value='openAllInNewWindow' data-i18n-key='openAllInNewWindow')
        %div
          %label(for='behaviors-directory-right' data-i18n-key='behaviorsDirectoryRight')
          %select#behaviors-directory-right
            %option(value='toggle' data-i18n-key='toggle')
            %option(value='openAllInCurrentWindow' data-i18n-key='openAllInCurrentWindow')
            %option(value='openAllInNewWindow' data-i18n-key='openAllInNewWindow')

      %section
        %h2(data-i18n-key='misc')

        %div
          %input#remember-opened-directory(type='checkbox' value='on')
          %label(for='remember-opened-directory' data-i18n-key='rememberOpenedDirectory')

        %h3(data-i18n-key='rootDirectory')
        %select#root-directory
    %script#option-tmpl(type='text/x-jquery-tmpl')
      %option(value='${value}') ${title}
