!!! 5
%html
  %head
    %meta(charset='utf-8')
    %link(type='text/css' rel='stylesheet' href='options_page.css')
    %script(type='text/javascript' src='jquery.js')
    %script(type='text/javascript' src='jquery.tmpl.js')
    %script(type='text/javascript' src='common.js')
    %script(type='text/javascript' src='options_page.js')
  %body
    %h1(data-i18n-key='options_page')

    %section.options
      %section
        %h2(data-i18n-key='appearance')

        %h3(data-i18n-key='size')
        %label(for='width' data-i18n-key='width')
        %input#width(type='number' size='10')
        %label(for='height' data-i18n-key='height')
        %input#height(type='number' size='10')

      %section
        %h2(data-i18n-key='behavior')
      %section
        %h2(data-i18n-key='misc')

        %h3(data-i18n-key='rootDirectory')
        %select#root-directory
          %script#root-directory-option-tmpl(type='text/x-jquery-tmpl')
            %option(value='${id}') ${title}
