!!! 5
%html
  %head
    %meta(charset='utf-8')
    %title(data-i18n-key='options_page')
    %link(type='text/css' rel='stylesheet' href='options_page.css')
    %script(type='text/javascript' src='jquery.js')
    %script(type='text/javascript' src='jquery.tmpl.js')
    %script(type='text/javascript' src='common.js')
    %script(type='text/javascript' src='options_page.js')
  %body
    %h1(data-i18n-key='options_page')

    %section.options
      %section
        %h2(data-i18n-key='appearance')

        %h3(data-i18n-key='size')
        %label(for='width' data-i18n-key='width')
        %input#width(type='number' size='10')
        %label(for='height' data-i18n-key='height')
        %input#height(type='number' size='10')

        %h3(data-i18n-key='font')
        %label(for='font-face' data-i18n-key='fontFace')
        %input#font-face(type='text' size='20')
        %br
        %label(for='font-size' data-i18n-key='fontSize')
        %input#font-size(type='text' size='10')
        %div(data-i18n-key='fontSizeTips')

        %h3(data-i18n-key='customStyle')
        %textarea#custom-style(rows=10 cols=40)

      %section
        %h2(data-i18n-key='behavior')

        %h3(data-i18n-key='bookmarkBehavior')
        %div
          %label(for='behaviors-bookmark-left' data-i18n-key='behaviorsBookmarkLeft')
          %select#behaviors-bookmark-left
            %option(value='openInNewTab' data-i18n-key='openInNewTab')
            %option(value='openInCurrentTab' data-i18n-key='openInCurrentTab')
            %option(value='openInBackgroundTab' data-i18n-key='openInBackgroundTab')
            %option(value='openInNewWindow' data-i18n-key='openInNewWindow')
        %div
          %label(for='behaviors-bookmark-middle' data-i18n-key='behaviorsBookmarkMiddle')
          %select#behaviors-bookmark-middle
            %option(value='openInNewTab' data-i18n-key='openInNewTab')
            %option(value='openInCurrentTab' data-i18n-key='openInCurrentTab')
            %option(value='openInBackgroundTab' data-i18n-key='openInBackgroundTab')
            %option(value='openInNewWindow' data-i18n-key='openInNewWindow')
        %div
          %label(for='behaviors-bookmark-right' data-i18n-key='behaviorsBookmarkRight')
          %select#behaviors-bookmark-right
            %option(value='openInNewTab' data-i18n-key='openInNewTab')
            %option(value='openInCurrentTab' data-i18n-key='openInCurrentTab')
            %option(value='openInBackgroundTab' data-i18n-key='openInBackgroundTab')
            %option(value='openInNewWindow' data-i18n-key='openInNewWindow')

        %h3(data-i18n-key='directoryBehavior')
        %div
          %label(for='behaviors-directory-left' data-i18n-key='behaviorsDirectoryLeft')
          %select#behaviors-directory-left
            %option(value='toggle' data-i18n-key='toggle')
            %option(value='openAllInCurrentWindow' data-i18n-key='openAllInCurrentWindow')
            %option(value='openAllInNewWindow' data-i18n-key='openAllInNewWindow')
        %div
          %label(for='behaviors-directory-middle' data-i18n-key='behaviorsDirectoryMiddle')
          %select#behaviors-directory-middle
            %option(value='toggle' data-i18n-key='toggle')
            %option(value='openAllInCurrentWindow' data-i18n-key='openAllInCurrentWindow')
            %option(value='openAllInNewWindow' data-i18n-key='openAllInNewWindow')
        %div
          %label(for='behaviors-directory-right' data-i18n-key='behaviorsDirectoryRight')
          %select#behaviors-directory-right
            %option(value='toggle' data-i18n-key='toggle')
            %option(value='openAllInCurrentWindow' data-i18n-key='openAllInCurrentWindow')
            %option(value='openAllInNewWindow' data-i18n-key='openAllInNewWindow')

        %h3(data-i18n-key='shortcuts')
        %div
          %input#disable-shortcuts(type='checkbox' value='on')
          %label(for='disable-shortcuts' data-i18n-key='disableShortcuts')
        %div
          %span(data-i18n-key='openBookmarkTreeInNewTab')
          %select#open-bookmark-tree-in-new-tab-modifier
            %option(value='ctrl' data-i18n-key='ctrl')
            %option(value='alt' data-i18n-key='alt')
            %option(value='meta' data-i18n-key='meta')
          +
          %select#open-bookmark-tree-in-new-tab-key
        %div
          %span(data-i18n-key='openBookmarkTreeInNewWindow')
          %select#open-bookmark-tree-in-new-window-modifier
            %option(value='ctrl' data-i18n-key='ctrl')
            %option(value='alt' data-i18n-key='alt')
            %option(value='meta' data-i18n-key='meta')
          +
          %select#open-bookmark-tree-in-new-window-key
        %p(data-i18n-key='shortcutsNotice')

      %section
        %h2(data-i18n-key='misc')

        %div
          %input#remember-opened-directory(type='checkbox' value='on')
          %label(for='remember-opened-directory' data-i18n-key='rememberOpenedDirectory')
        %div
          %input#hide-scrollbar(type='checkbox' value='on')
          %label(for='hide-scrollbar' data-i18n-key='hideScrollbar')
        %div
          %input#close-popup-after-open-bookmark(type='checkbox' value='on')
          %label(for='close-popup-after-open-bookmark' data-i18n-key='closePopupAfterOpenBookmark')

        %h3(data-i18n-key='rootDirectory')
        %select#root-directory

        %h3(data-i18n-key='sortBy')
        %select#sort-by
          %option(value='index' data-i18n-key='index')
          %option(value='id' data-i18n-key='id')
          %option(value='dateAdded' data-i18n-key='dateAdded')
          %option(value='title' data-i18n-key='title')

        %h3(data-i18n-key='contact')
        %p(data-i18n-key='aboutMe')
        %dl
          %dt Twitter
          %dd
            %a(href='http://twitter.com/ayahatate' target='blank') http://twitter.com/ayahatate
          %dt Plurk
          %dd
            %a(href='http://www.plurk.com/ayamomiji' target='blank') http://www.plurk.com/ayamomiji
          %dt GitHub
          %dd
            %a(href='https://github.com/ayamomiji' target='blank') https://github.com/ayamomiji
          %dt Blog (Chinese Only)
          %dd
            %a(href='http://aya.idv.tw' target='blank') http://aya.idv.tw
    %script#option-tmpl(type='text/x-jquery-tmpl')
      %option(value='${value}') ${title}
