@import "compass/reset";

body {
  font-size: 0.8em;
  overflow: hidden;
}

#tree {
  overflow-y: scroll;
}

#url {
  border-top: 1px solid black;
  line-height: 1em;
  font-size: 1em;
  height: 1em;
  overflow: hidden;
}

ul ul {
  margin-left: 16px;
}

.favicon {
  vertical-align: middle;
}

.title {
  height: 1.2em;
  cursor: pointer;
  overflow: hidden;
}

.directory {
  > ul.children {
    display: none;
  }

  &.open > ul.children {
    display: block;
  }
}
